* {
    margin: 0;
    padding: 0;
}

.container1 {
    height: 400px;
    align-items: flex-start;
    display: flex;
    gap: 30px;

}

.ladoesquerdo {
    padding-left: 150px;
    padding-right: 100px;
    display: flex;
    gap: 20px;
}

.imgaux {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    
}
.imgaux img:hover {
 
    height: 125px;
    width: 125px;
    transition: 0.3s
    
}

.imgaux img {
    border: 5px solid rgb(191, 191, 191);
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;

}

.imgprinc img {
    border: 5px solid rgb(191, 191, 191);
    height: 400px;
    width: 400px;
    object-fit: contain;
    border-radius: 25px;
}

.ladodireito {
    text-align: justify;
    color: black;
    font-size: 17px;
    margin-top: 20px;
    width: 500px;
}

.botao {
    
   
    text-align: center;
    border-radius: 10px;
    background-color: #28A745;  
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.box {
   
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #28A745;
}