.logo {
    width: 150px;
    height: auto;
}





.informacao {
    background-color: green;
    padding: 20px;
    font-size: 14px;
    color: #6c757d;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}